# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Data files
!data/README.md  # Allow a README file in the data folder

# Downloads
downloads/
!downloads/README.md  # Allow a README file in the downloads folder

# Virtual environment
.venv/
env/
venv/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
*.swp
*.swo

# Reports
misc/reports
*.html